[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SurrogateBMA"]
	path = SurrogateBMA
	url = https://github.com/yunshandys/surrogatebma
